.env
**/*.pyc

backup/
tree.txt

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.egg-info/
.eggs/
build/
dist/

# 환경 변수 파일
.env
*.env

# VSCode / IDE 설정
.vscode/

# OS별 생성 파일
.DS_Store
Thumbs.db

# 로그 파일
*.log

# Next.js 관련
.next/
out/
.cache/
